<section>

    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input type="email" matInput placeholder="Email Address" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <button mat-flat-button color="primary" [disabled]="loginForm.invalid">Login</button>
    </form>

</section>
