<mat-nav-list>
    <a mat-list-item [routerLink]="['/signup']" (click)="sideNavClose()">
        <span class="material-icons">
            face
        </span>Signup</a>
    <a mat-list-item [routerLink]="['/login']" (click)="sideNavClose()">
        <span class="material-icons">
            account_circle
        </span>Login</a>
    <a mat-list-item [routerLink]="['/training']" (click)="sideNavClose()">
        <span class="material-icons">
            fitness_center
        </span>Training</a>
    
        <button mat-button (click)="sideNavClose()">
            <span class="material-icons">
                eject
            </span>Logout
        </button>
</mat-nav-list>
